@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #001923;
    height: 100vh;
}

.container
{
    background: #fff;
    width: 220px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content
{
    background: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}