@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #001923;
    height: 100vh;
    align-items: center;
}

.container
{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 100px;
}

.displayBox
{
    border-radius: 8px;
    height: 520px;
    width: 320px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);
}

p
{
    background: #001923;
    color: #fff;
    border: none;
    outline: none;
    text-align: right;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    margin: 20px 0;
    padding: 16px;
    height: 70px;
    width: 100%;
    border-radius: 8px;
}

.magicBox
{
    height: 33vh;
    margin-top: 35px;
    border-radius: 8px;
}

.btn
{
    float: left;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 22pt;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

span:active
{
    transform: scale(1.05);
}

#empty
{
    border: none;
    background: #dadd083b;
}

#number
{
    border: none;
    background: #08dddd3b;
}

#operator
{
    border: none;
    background: #0fdd0859;
}
