@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #001923;
    height: 100vh;
    align-items: center;
}

.container
{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.content
{
    border-radius: 8px;
    height: 520px;
    width: 320px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);
}

.magicBox
{
    width: 100%;
    height: 35vh;
    margin-top: 20px;
}

.inputBox
{
    align-items: center;
    justify-content: center;
    text-align: center;
}

input
{
    background: #00192398;
    color: #fff;
    border: none;
    outline: none;
    text-align: right;
    font-size: 14pt;
    margin: 20px 0;
    padding: 10px;
    height: 70px;
    width: 274px;
    border-radius: 8px;
    margin-bottom: 15px;
}


button
{
    float: left;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 18pt;
}

.buttonBox
{
    width: 218px;
}

.numberBox
{
    width: 218px;
}

.operatorBox
{
    display:grid;
}

.empty
{
    border: none;
    background: #dadd083b;
    color: #fff;
}

.number
{
    border: none;
    background: #08dddd3b;
    color: #fff;
}

.operator
{
    border: none;
    background: #0fdd0859;
    color: #fff;
}